@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.main {
  height: calc(100vh - 64px);
}

.movies__container {
  height: calc(100vh - 108px);
}

body {
  background-color: #1a1a1a;
  color: #c7c7c7;
}
